<h1>Editing Wine</h1>

<div class="container">
  <%= render 'form', wine: @wine %>

  <% @wines.each do |wine| %>
    <% wine.wines_strains.each_with_index do |wine_strain, index| %>
      <ul>
        <li> <%= "Cepa #{index + 1}: #{wine_strain.strain.name} | #{wine_strain.porcentage.to_i}%" %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to 'Show', @wine %> |
<%= link_to 'Back', wines_path %>
